.auth, .registration {
    width: 100%;
    min-height: 900px;
    background-image: url(../../../../public/images/404/city-map.png), url(../../../../public/images/404/background.png);
    background-size: cover;


    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 17px;
}

.registration{
    min-height: 930px;
}