 .list__item {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 6px 10px;
     gap: 10px;


     background: rgba(102, 78, 249, 0.1);
     border-radius: 17px;
     height: 26px;


     font-weight: 400;
     font-size: 14px;

     color: #664EF9;

     .CursorPointer {
         cursor: pointer;
     }

 }